In [44]:
import json
import os
import io

import pandas as pd

In [38]:
dirpath_source = "/mnt/research-data/main/twitter/sources-wildfire/austrailia_2019-2020"

In [39]:
def find_item(source_list, func):
	for item in source_list:
		if func(item) == True:
			return item
	return None

In [40]:
data_tweets = []
with io.open(os.path.join(dirpath_source, "tweets.jsonl")) as handle:
	for line in handle:
		line = line.strip()
		if not line:
			continue
		data_tweets.append(json.loads(line))

In [41]:
data_users = []
with io.open(os.path.join(dirpath_source, "users.jsonl")) as handle:
	for line in handle:
		line = line.strip()
		if not line:
			continue
		data_users.append(json.loads(line))

In [42]:
matches = 0
unmatched = 0
for tweet in data_tweets:
	match_next = find_item(data_users, lambda user: user["id"] == tweet["author_id"])
	if match_next is None:
		unmatched += 1
	else:
		matches += 1
		tweet["user"] = match_next

print(f"Merging complete, scanned {len(data_tweets)} tweets, comparing with {len(data_users)} users and found {matches} matches, with {unmatched} tweets left unmatched.")

Merging complete, scanned 27025 tweets, comparing with 18594 users and found 27025 matches, with 0 tweets left unmatched.

In [56]:
data_users[0:5]

[{'id': '--GIL7JVRDfciAsKeX8Idw',
  'username': 'w0EbvvcvIyKfM34ZUq0JxQ',
  'location': 'Canada',
  'public_metrics': {'followers_count': 43,
   'following_count': 118,
   'tweet_count': 5805,
   'listed_count': 0}},
 {'location': 'Pasadena CA',
  'public_metrics': {'followers_count': 8571,
   'following_count': 4635,
   'tweet_count': 63465,
   'listed_count': 324},
  'id': '--f8lvQXGe601FiJmAJehQ',
  'username': 'hD7mfs5twVEZA1cLj2VeVA'},
 {'public_metrics': {'followers_count': 34323,
   'following_count': 27617,
   'tweet_count': 119918,
   'listed_count': 32},
  'username': 'MKuiU9OmrpVxomiAYf2YTg',
  'location': 'Colorado, USA',
  'id': '-07raxIRwQj7xpLHwtPeuA'},
 {'username': 'RtZEnkUSR1ViAOwBXx-4dQ',
  'id': '-0FqxhZj1AxQSAiF1Ami9A',
  'location': 'Seattle, WA',
  'public_metrics': {'followers_count': 55652,
   'following_count': 55954,
   'tweet_count': 159227,
   'listed_count': 1712}},
 {'username': '89yzrasCCKiZD7aRo5dPYg',
  'location': 'Memphis, TN',
  'id': '-0bwLd8egKgpla1JGsGf7Q',
  'public_metrics': {'followers_count': 42418,
   'following_count': 1532,
   'tweet_count': 216572,
   'listed_count': 791}}]

In [58]:
# df_tweets = pd.DataFrame([ [tweet["id"], tweet["author_id"], tweet["user"]["location"], tweet["text"]] for tweet in data_tweets ])
df_tweets = pd.DataFrame([ [tweet["id"], tweet["author_id"], tweet["user"]["public_metrics"]["tweet_count"], tweet["text"]] for tweet in data_tweets ])
df_tweets.columns = [ "id", "author_id", "user_tweet_count", "text" ]

df_tweets

,id,author_id,user_tweet_count,text
0,--3UsVtm13iWqvG7eMcXuw,x7Vm3mifUMXrA4T3kxTEAQ,59677,Leonardo DiCaprio launches a $3MILLION Austral...
1,--RgfYThSZE0iZmwsHEtqQ,k0JqwwdWZiEToeGQ8FcerA,137887,Crews battling Australia's wildfires say they ...
2,--nHU7J_Sd9aZsKIPAmjQw,HaRufznm-zzJenyACoTALQ,990,Alumni &amp; faculty from NCSE Member Institut...
3,--pHOUBWvFueVSai0yFhww,orA-NOegfJ-c12jp4aHatw,19757,They certainly are tiny cuties! \n\nWorld’s sm...
4,--sQndoWqPK8QA5hO7tw1A,xyYUdjmp0ZLaoSwRz9riAQ,170412,In honour of Australia Day — the national holi...
...,...,...,...,...
27020,zy_mHllcLgE724HYyMbMSQ,4vpiqhx_r3TW4mTSpVYHQg,370501,First Came the Lockdown. Then Came the Wildfir...
27021,zzAg4P-pZw1wCg58ZJ5BYA,DGpmkVCv5MfOuS6hl5abLg,313590,8 things everyone should know about Australia’...
27022,zzQFbTV5KGxf4lOgQGmJ7Q,dxWA9K3EGrVx4acQXHwGbg,112476,Australia’s wildfire crisis faces a new foe: M...
27023,zzXTsmAg0fltJ-KI4kOcQw,MYD1uBXcIkjp9sJYwdy8hQ,54375,‘Apocalyptic’ rat plague wipes out entire crop...
27024,zzzgj2M2Ps9ytpXacBiPZw,_yFAymOncDV83EliMqKI9g,60929,Way to go @F5S9nV9nfqKfZrDQncsqwQ And thank y...

In [47]:
data_users[0:5]

[{'id': '--GIL7JVRDfciAsKeX8Idw',
  'username': 'w0EbvvcvIyKfM34ZUq0JxQ',
  'location': 'Canada',
  'public_metrics': {'followers_count': 43,
   'following_count': 118,
   'tweet_count': 5805,
   'listed_count': 0}},
 {'location': 'Pasadena CA',
  'public_metrics': {'followers_count': 8571,
   'following_count': 4635,
   'tweet_count': 63465,
   'listed_count': 324},
  'id': '--f8lvQXGe601FiJmAJehQ',
  'username': 'hD7mfs5twVEZA1cLj2VeVA'},
 {'public_metrics': {'followers_count': 34323,
   'following_count': 27617,
   'tweet_count': 119918,
   'listed_count': 32},
  'username': 'MKuiU9OmrpVxomiAYf2YTg',
  'location': 'Colorado, USA',
  'id': '-07raxIRwQj7xpLHwtPeuA'},
 {'username': 'RtZEnkUSR1ViAOwBXx-4dQ',
  'id': '-0FqxhZj1AxQSAiF1Ami9A',
  'location': 'Seattle, WA',
  'public_metrics': {'followers_count': 55652,
   'following_count': 55954,
   'tweet_count': 159227,
   'listed_count': 1712}},
 {'username': '89yzrasCCKiZD7aRo5dPYg',
  'location': 'Memphis, TN',
  'id': '-0bwLd8egKgpla1JGsGf7Q',
  'public_metrics': {'followers_count': 42418,
   'following_count': 1532,
   'tweet_count': 216572,
   'listed_count': 791}}]